@using App.Domain
@model Faculty

@{
    ViewData["Title"] = "New Faculty";
}
<div class="container mt-5">
    <div class="col-md-9 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="text-center offset-6">@ViewData["Title"]</h2>
                <div class="row">
                    <div class="col-md-7">
                        <img src="/css/facultydrctry.png" alt="Your Image" class="img-fluid rounded" style="width: 120%; height: auto;">
                    </div>
                    <div class="col-md-4 offset-0">
                <form asp-action="NewFaculty">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group text-center">
                        <div class="form-group">
                            <label asp-for="FacultyLogoUrl" class="control-label"></label>
                            <input asp-for="FacultyLogoUrl" class="form-control" />
                            <span asp-validation-for="FacultyLogoUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="College" class="control-label">Select College</label>
                            @{
                                var colleges = ViewData["Colleges"] as IEnumerable<College>;
                            }
                            @if (colleges != null)
                            {
                                <select asp-for="CollegeId" asp-items="@(new SelectList(colleges, "CollegeId","CollegeName"))" class="form-control">
                                    <option value="">-- Select College --</option>
                                </select>
                            }
                            else
                            {
                                <p class="text-danger">@ViewBag.ErrorMessage</p>
                            }
                            <span asp-validation-for="CollegeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacultyName" class="control-label"></label>
                            <input asp-for="FacultyName" class="form-control" />
                            <span asp-validation-for="FacultyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacultyDescription" class="control-label"></label>
                            <input asp-for="FacultyDescription" class="form-control" />
                            <span asp-validation-for="FacultyDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacultyDean" class="control-label"></label>
                            <input asp-for="FacultyDean" class="form-control" />
                            <span asp-validation-for="FacultyDean" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FacultyEmail" class="control-label"></label>
                            <input asp-for="FacultyEmail" class="form-control" />
                            <span asp-validation-for="FacultyEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                                    <a class="btn btn-outline-secondary mb-4" asp-action="Index"> Show all </a>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#FacultyLogoUrl").on("change", function () {
                // Assuming you want to set the preview image's source
                var imageUrl = $(this).val();
                $("#FacultyLogoUrlPreview").attr("src", imageUrl);
            });
        });
    </script>
}